body {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", "Arial", "sans-serif";
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  padding-bottom: 300px;
}

.left { float: left }
.right { float: right }
.clear { clear: both }

.stark-page {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -webkit-transition-property: margin-left;
}

.stark-page section, .stark-page header, .stark-page footer {
  padding: 1em;
  display: block;
}

.stark-page header, .stark-page footer {
  color: #fafafa;
  background-color: #333;
}

.stark-page header a, .stark-page header a:visited, .stark-page footer, .stark-page footer a:visited {
  color: #fafafa;
}

.stark-page header .stark-back-button {
  float: left;
  position: relative;
  top: -0.5em;
  left: -0.5em;
}

.stark-page header h1 {
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.stark-current-page {
  margin-left: 0%;
}

.stark-hidden-page-left {
  position: absolute;
  top: 0;
  margin-left: -100%;
}

.stark-hidden-page-right {
  position: absolute;
  top: 0;
  margin-left: 100%;
}


.stark-page nav ul {
  margin: 0;
  padding: 0;
  border: 1px solid #cccccc;
  border-radius: 0.5em;
  background-color: white;
  -webkit-background-clip: padding-box;
  overflow: hidden;
}

.stark-page nav ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #cccccc;
  display: block;
}

.stark-page nav ul li:last-child {
  border-bottom: 0;
}

.stark-page nav ul li a, .stark-page nav ul li a:visited, .stark-page nav ul li a:hover {
  color: #333333;
  text-decoration: none;
  padding: 0.5em 2em 0.5em 1em;
  display: block;
  background: transparent url(/images/stark/list_arrow_right.png) no-repeat center right;
  -webkit-background-clip: padding-box;
}

a.stark-active {
  color: #cccccc !important;
  background-color: #333333 !important;
}

.stark-button {
  display: inline-block;
  color: #fafafa;
  background: #333;
  background: -webkit-gradient(linear, 0 0, 0 100%,
              color-stop(0, rgba(60, 60, 60, 0.9)),
              color-stop(0.5, rgba(55, 55, 55, 0.9)),
              color-stop(0.5, rgba(44, 44, 44, 0.9)),
              color-stop(1, rgba(33, 33, 33, 0.9)));
  border: 0;
  -webkit-border-radius: 0.5em;
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  padding: 0.5em 1em;
  font-weight: lighter;
  text-decoration: none;
  line-height: 1em;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
}

input, textarea, select  {
  border: 1px solid #ccc;
  padding: 0.5em;
  font-size: 1em;
  line-height: 1.1em;
  background: white;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0px 1px 5px #cccccc;
  -webkit-border-radius: 0.5em;
  text-decoration: none;
  color: black;
}

input[type=checkbox], input[type=radio] {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.25em;
  vertical-align: text-top;
  -webkit-box-shadow: none;
}

input[type=radio] {
  -webkit-border-radius: 2em;
}

input[type=checkbox]:checked {
  background: url("/images/stark/checkbox_checked.png") no-repeat center center;
  -webkit-background-size: 1em 1em;
}

input[type=radio]:checked {
  background: url("/images/stark/radio_checked.png") no-repeat center center;
  -webkit-background-size: 1em 1em;
}

